body, textarea, table {
  font-family: "Trebuchet MS",sans;
  font-size: 11pt;
}

a {
  color: #48769D;
  text-decoration: none;
}

h2, h3 {
  margin: 0px;
}

img {
  border: 0px none;
}

.translation_missing {
  background: #000000;
  color: red;
  padding: 5px;
  font-weight: bold;
}

.center {
  text-align: center; 
}

.content {
  text-align: left;
  width: 90%;
}

.title-bar {
  background: transparent url(/themes/blue/bg.jpg) repeat scroll 0%;
  border: 1px solid #84AFD3;
  font-size: 20pt;
  font-weight: bold;
  height: 42px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: right;
}

.flash {
  background: #A4D5FF none repeat scroll 0%;
  border: 2px solid #84AFD3;
  font-size: 16pt;
  font-weight: bold;
  margin-top: 100px;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.menu-bar {
  float: left;
  margin: 5px;
}

.pagination, #moderated_topics_count {
	font-size: 9pt;
}

.search {
  float: right;
}

.icon {
  width: 80px;
}

.forums h1 {
  font-size: 16pt;
  margin: 0px;
  padding: 0px;
}

.category {
  padding: 5px;
}

.forums, .forum, .info-box, .list-table, .category {
  border: 1px solid #84AFD3;
}

.forums td, .forum td, .list-table td {
  padding: 5px;
}

.forums thead, .forum thead, .info-box thead, .post thead, .action-box thead, .list-table thead {
  background: #E5F3FF url(/themes/blue/thead-bg.jpg) repeat-x scroll 0%;
  font-weight: bold;
}

.forums tbody td, .list-table tbody td {
  background: white;
}

.forum tfoot {
  background: #C1E2FE none repeat scroll 0%;
}

.forum tfoot input {
  background: #DBEEFD none repeat scroll 0%;
  border: 1px solid #48769D;
  font-size: 10pt;
  letter-spacing: -1px;
  margin: 2px;
}

.forum {
  margin-top: 2px;
}

.topic_menu {
  border: 1px solid #84AFD3;
  background:#E1F1FF;
  margin: 2px;
  padding: 10px;
  width: 98.15%;
}

.warning { 
  background: #fde181;
  border: 1px solid #fece26;
  padding: 10px;
  font-weight:bold;
  margin: 2px;
  width: 98.15%;
}

.post, .action-box, .user {
  background:#e1f1ff;
  border: 1px solid #84AFD3;
  margin: 2px;
}

.post tbody, .action-box tbody, .user tbody {
  background: #E1F1FF none repeat scroll 0%;
}

.post tfoot, .action-box tfoot {
  background: #E1F1FF url(/themes/blue/tfoot-bg.jpg) repeat-x scroll 0%;
}

.posts h1 {
  margin: 0px;
  padding: 0px;
}

.edit-note {
  color: #4F93CF; 
  font-size: 9pt;
}

.quote {
  background: #A4D5FF none repeat scroll 0%;
  border: 1px solid #84AFD3;
  padding: 5px;
  text-align: left;
  width: 90%;
}

.CodeRay {
  padding: 0px;
  border-spacing: 0;
}

.CodeRay .line_numbers {
  width: 40px;
  background: #efefef;
  padding: 5px;
  text-align: center;
  border: 1px solid #84AFD3;
  border-right: 0;
}

.CodeRay .code {
  background: white;
  border: 1px solid #84AFD3;
  border-left: 0;
  padding: 20px;
}

.term {
  font-family: Monaco, monospace, "Courier New";
  font-weight: bold;
}

.ban-box {
  background: #DE0000 none repeat scroll 0%;
  border: 10px solid red;
  color: white;
  font-size: 48pt;
}

.ban-box h1 {
  margin: 0px;
  padding: 0px;
}

.fieldWithErrors input, .fieldWithErrors textarea  {
  border-left: 3px solid #cd0000;
}

.errorExplanation {
  font-size: 10pt;
}

.info-box td .right {
  float: right;
  text-align: right;
}
/*autocomplete*/

.ac_results {
  background: white;
  padding: 0px;
  margin: 0px;
  border-bottom: 3px solid #84AFD3;
  border-right: 3px solid #84AFD3;
  border-left: 3px solid #84AFD3;
}

.ac_results ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.ac_results ul li {
  padding: 5px;
}

.ac_results ul li:hover {
  background: #DBF8FF;
}
/* inspired by http://css.maxdesign.com.au/listamatic/horizontal02.htm */
ul#admin-navlist, ul#moderator-navlist {
  margin: 2px;
  margin-left: 0px;
  padding: 0px;
  white-space: nowrap;
}

#admin-navlist li, #moderator-navlist li {
  display: inline;
  list-style-type: none;
}

#admin-navlist a, #moderator-navlist a { 
  padding: 3px 10px; 
}

#admin-navlist a:link, #admin-navlist a:visited, #moderator-navlist a:link, #moderator-navlist a:visited {
  color :#336699;
  background-color: #b8dcfc;
  text-decoration: none;
  border: 1px solid #336699;
  border-bottom: 0px;
}

#admin-navlist a.selected, #moderator-navlist a.selected {
  border: 2px solid #336699;
  border-bottom: 0px;
  font-weight: bold;
}

#admin-page, #moderator-page {
  background: #b8dcfc;
  padding: 5px;
  border: 1px solid #336699;
}

.list-table td {
  text-align: center; 
}

.lalign { 
  text-align:left !important;
}