body, textarea, table {
  font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
  font-size: 11pt;
  margin: 0;
  padding: 0; }

a {
  color: #48769d;
  text-decoration: none; }


h3 {
  margin: 0; }

img {
  border: 0 none; }

form p label {
  float: left;
  width: 10em; }

#logged-in-as {
  font-size: 82%;
  margin: 0px;
  padding: 0px; }

.translation_missing {
  background: #000000;
  color: red;
  padding: 5px;
  font-weight: bold; }

.center {
  text-align: center; }

.title-bar {
  background: #85c7ff;
  border-top: 1px solid #99daff;
  border-bottom: 1px solid #4b8ec8;
  height: 3.5em; }
  .title-bar img {
    float: right; }

.menu-bar {
  color: #6e9ec8;
  text-shadow: 0 1px #beebff;
  background-color: #B0CFFF;
  border-top: 1px solid #beebff;
  border-bottom: 1px solid #6e9ec8;
  line-height: 2em;
  padding: .1em .8em; }

.search {
  color: #6e9ec8;
  position: absolute;
  top: 60px;
  right: 5px;
  float: right;
  margin-left: .5em; }

.content {
  text-align: left;
  width: 84%;
  margin: 0 auto;
  padding: 1em 0;
  min-width: 960px; }

.flash {
  background: #a4d5ff none repeat scroll 0;
  border: 2px solid #84afd3;
  font-size: 16pt;
  font-weight: bold;
  margin-top: 100px;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.breadcrumbs {
  color: #84bef0;
  margin-top: .8em; }
  .breadcrumbs span {
    color: black; }

#moderated_topics_count {
  font-size: 9pt; }

.pagination {
  padding: .3em;
  font-size: 10pt; }
  .pagination a {
    padding: .1em .2em;
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }
  .pagination span {
    padding: .1em .2em; }
    .pagination span.disabled {
      color: #bbb; }
    .pagination span.current {
      font-weight: bold;
      background-color: #bbb; }

.icon {
  width: 80px; }

.listing .odd {
  background: #DBEAFF; }
.listing .even {
  background: white; }
.listing .header {
  border: 0px; }

table.listing thead tr td {
  font-weight: bold;
  border-right: 1px solid #B5C8DF;
  border-bottom: 1px solid #9CACC0;
  border-top: 1px solid #9CACC0;
  padding: 10px;
  background: #CDE1FF; }
table.listing thead tr td:first-child {
  border-left: 1px solid #B5C8DF; }
table.listing tbody tr td {
  padding: 5px; }
table.listing tbody tr:last-child td {
  border-bottom: 1px solid #9CACC0; }
table.listing tbody tr td:first-child {
  border-left: 1px solid #B5C8DF; }
table.listing tbody tr td:last-child {
  border-right: 1px solid #B5C8DF; }
table.listing tbody tr td {
  border-right: 1px solid #B5C8DF;
  border-bottom: 1px solid #B5C8DF; }

ul.listing {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.listing li {
    border-bottom: 1px solid #84AFD3;
    padding: 3px; }

.forums {
  list-style-type: none; }
  .forums h2 {
    font-size: 16pt;
    margin: 0;
    padding: 0; }

.topics .status {
  padding-right: 5px; }
.topics li {
  color: #71AFEB; }
.topics input, .topics .status {
  float: left; }

.messages .read {
  background: #85c7ff; }
.messages .unread {
  background: white; }

.button {
  display: inline-block;
  padding-top: 7px;
  text-indent: 18px;
  color: white;
  background: url(button.png) no-repeat;
  width: 100px;
  height: 39px; }

.topic_actions {
  float: right; }

.warning {
  background: #fde181;
  border: 1px solid #fece26;
  padding: .6em;
  font-weight: bold; }

.action-box, .user {
  background: #aad8ff;
  border: 1px solid #84afd3;
  margin-bottom: .6em; }

.post {
  margin-bottom: 1.5em;
  border: 1px #84afd3 solid;
  background: #e1f1ff;
  margin: 0.5em auto;
  overflow: auto;
  -moz-border-radius: 5px; }
  .post div, .post pre {
    padding: 5px; }
  .post pre {
    background: white;
    border: 1px solid black;
    -moz-border-radius: 5px;
    line-height: 0.75em;
    overflow: auto;
    text-align: left; }
  .post .user_info {
    width: 18%; }
  .post .body {
    float: right;
    clear: both;
    border-left: 1px dotted #84afd3;
    width: 78%;
    min-height: 10.5em; }
  .post .details {
    border-bottom: 1px dotted #84afd3; }
  .post .actions {
    float: right; }

form .post {
  padding: 5px; }

#quick-reply {
  padding: 5px;
  border: 1px #84afd3 solid;
  margin: 0.5em auto;
  -moz-border-radius: 5px; }

.messages a {
  color: black; }

ul#navlist {
  margin: 0px;
  padding: 0;
  white-space: nowrap; }
  ul#navlist li {
    display: inline;
    list-style-type: none; }
  ul#navlist a {
    padding: 3px 10px; }
    ul#navlist a:link, ul#navlist a:visited {
      color: #336699;
      background-color: #b8dcfc;
      text-decoration: none;
      border: 1px solid #336699;
      border-bottom: 0;
      -moz-border-radius: 5px; }
    ul#navlist a.selected {
      border: 2px solid #336699;
      border-bottom: 0;
      font-weight: bold; }

#admin-page, #moderator-page {
  background: #b8dcfc;
  padding: 5px;
  border: 1px solid #336699; }

.clear {
  display: block;
  clear: both;
  line-height: 0; }

.action-box tbody, .user tbody {
  background: #e1f1ff none repeat scroll 0; }

.action-box tfoot {
  background: #e1f1ff url(tfoot-bg.jpg) repeat-x scroll 0; }

.posts h1 {
  margin: 0;
  padding: 0; }

.edit-note {
  color: #4F93CF;
  font-size: 9pt; }

.quote {
  background: #A4D5FF none repeat scroll 0;
  border: 1px solid #84AFD3;
  margin: 0 auto;
  padding: 5px;
  text-align: left;
  width: 90%; }

.term {
  font-family: Monaco, "Courier New", monospace;
  font-weight: bold; }

.ban-box {
  background: #DE0000 none repeat scroll 0;
  border: 10px solid red;
  color: white;
  font-size: 48pt; }
  .ban-box h1 {
    margin: 0;
    padding: 0; }

.fieldWithErrors input, .fieldWithErrors textarea {
  border-left: 3px solid #cd0000; }

.errorExplanation {
  font-size: 10pt; }

.info-box td .right {
  float: right;
  text-align: right; }

.ac_results {
  background: white;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #84AFD3;
  border-right: 3px solid #84AFD3;
  border-left: 3px solid #84AFD3; }
  .ac_results ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .ac_results ul li {
      padding: 5px; }
      .ac_results ul li:hover {
        background: #DBF8FF; }

.lalign {
  text-align: left !important; }
