<form action='/install/install' method='post'>
  <%= flash[:error] %>
  <h1><%= t(:Welcome_to_rBoard) %></h1>
  <%= t(:Just_need_some_information) %>

  <h2><%= t(:Database_Information) %></h2>

  <p>
    <label for='database_adapter'><%= t(:Adapter) %></label>
    <select name='database[adapter]' id='database_adapter'>
      <option value='mysql'>MySQL</option>
      <option value='postgresql'>PostgreSQL</option>
      <option value='sqlite3'>Sqlite 3</option>
    </select>
  </p>
  
  <p>
    <label for='database_host'><%= t(:Host) %> (generally never changes)</label>
    <input type='text' name='database[host]' id='database_host' value='localhost'>
  </p>
  
  <p>
    <label for='database_username'><%= t(:Username) %></label>
    <input type='text' name='database[username]' id='database_username'>
  </p>
  
  <p>
    <label for='database_password'><%= t(:Password) %></label>
    <input type='password' name='database[password]' id='database_password'>
  </p>
  
  <p>
    <label for='database_database'><%= t(:Database) %></label>
    <input type='text' name='database[database]' id='database_database'>
  </p>
  
  <h2><%= t(:User_Information) %></h2>
  
  <p>
    <label for='user_login'><%= t(:Login) %></label>
    <input type='text' name='user[login]' id='user_login'>
  </p>
  
  <p>
    <label for='user_password'><%= t(:Password) %></label>
    <input type='password' name='user[password]' id='user_password'> <%= t(:Must_be_longer_than_6_characters) %>
  </p>
  
  <p>
    <label for='user_password_confirmation'><%= t(:Password_confirmation) %></label>
    <input type='password' name='user[password_confirmation]' id='user_password_confirmation'> <%= t(:Must_match_the_password) %>
  </p>
  
  <p>
    <label for='user_email'><%= t(:Email) %></label>
    <input type='text' name='user[email]' id='user_email'>
  </p>
  
  <input type='submit' name='commit' value='Install!'>
    
</form>