		<tr>
			<td align='center'><%= link_to(message.to_read? ?  style_image_tag("old.jpg") : style_image_tag("new.jpg"), message_path(message.id))%></td>
			<td align='center'><%= link_to(style_image_tag("delete.jpg"), message_path(message.id), :method => "delete", :confirm => "Are you sure you want to delete this message?") %></td>
			<td align='center'><%= message.from.login %></td>
			<td align='center'><%= time_ago_in_words(message.created_at) %> ago</td>
		</tr>