.bundle
webrat*.html
cucumber*.html
*.rails2
config/database.yml
config/deploy.rb
config/newrelic.yml
config/*.sphinx.conf
config/*sphinx*
coverage
coverage/*
db/*.sqlite3
db/sphinx/*
log/*.log
log/searchd*
nbproject/**/*
nbproject/project.*
public/avatars
public/system
test
tmp/**/*
vendor/plugins/newrelic_rpm