log/*.log
log/searchd*
tmp/*
db/*.sqlite3
db/sphinx/*
config/*sphinx*
# Because of config/migration_hack
config/environment.rb
config/database.yml
nbproject/**/*
nbproject/project.*
test
coverage
coverage/*
config/*.sphinx.conf
config/deploy.rb
config/newrelic.yml
.gitignore.swp
public/avatars
public/system
vendor/plugins/newrelic_rpm
webrat*.html
