log/*.log
log/searchd*
tmp/*
db/*.sqlite3
db/sphinx/*
config/*sphinx*
config/database.yml
nbproject/**/*
nbproject/project.*
test
coverage
coverage/*
config/*.sphinx.conf
config/deploy.rb
.gitignore.swp
public/avatars
