<%= link_to "Administration Section", :controller => "admin" %> -> <%= link_to "Ranks", :controller => "ranks" %> -> Editing a Rank
<h2>Editing a Rank</h2>
<% form_for [:admin, @rank] do |@f| %>
<table cellspacing='0' cellpadding='5' width='100%' class='action-box'>
<%= render :partial => "form" %>
<tfoot>
<tr><td colspan='2'><%= submit_tag "Update" %></td></tr>
</tfoot>
</table>
<% end %>