<tbody>
  <tr>
    <td width='100px'><b>Subject:</b></td>
    <td><%= f.text_field 'subject' %></td>
  </tr>
  
  <% fields_for @post do |post| %>
    <tr>
      <td valign='top'><b>Post:</b></td>
      <td><%= post.text_area "text", :cols => "80" %></td>
    </tr>
  <% end %>
  
  <% if is_admin? %>
    <tr>
      <td><b>Sticky?</b></td>
      <td><%= f.check_box "sticky" %></td>
    </tr>
  <% end %>
</tbody>