development:
  adapter: sqlite3
  database: db/development.sqlite3
  
production:
  adapter: sqlite3
  database: db/production.sqlite3

test:
  username: root
  password:
  adapter: mysql
  database: rboard_test
