body, textarea, table {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 11pt;
  background:#0b2438;
  color:#ffc600;
}

td {
  padding: 10px;
}
a {
  color: #48769D;
  text-decoration: none;
}

h2, h3 {
  margin: 0;
}

img {
  border: 0 none;
}

.translation_missing {
  background: #000000;
  color: red;
  padding: 5px;
  font-weight: bold;
}

.center {
  text-align: center; 
}

.content {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.title-bar {
  font-size: 20pt;
  font-weight: bold;
  padding-right: 0;
  padding-top: 0;
  text-align: right;
}

.logo {
    display: block;
}

.flash {
  background: #ffb200 url(thead-bg.jpg);
  border: 2px solid #84AFD3;
  font-size: 16pt;
  font-weight: bold;
  margin-top: 100px;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu-bar {
  float: left;
  margin: 5px;
}

.pagination, #moderated_topics_count {
	font-size: 9pt;
}

.search {
  float: right;
}

.icon {
  width: 80px;
}

.forums h1 {
  font-size: 16pt;
  margin: 0;
  padding: 0;
}

.category {
  padding: 5px;
}

.forums, .forum, .info-box, .list-table, .category {
  border: 1px solid #17476e;
}

.forums thead, .forum thead, .info-box thead, .post thead, .action-box thead, .list-table thead {
  background: #ffb200 url(thead-bg.jpg) repeat-x scroll 0;
  font-weight: bold;
  color: black;
}


.forum tfoot {
  background: #ffb200 url(thead-bg.jpg);
}

.forum tfoot input {
  background: #DBEEFD none repeat scroll 0;
  border: 1px solid #48769D;
  font-size: 10pt;
  letter-spacing: -1px;
  margin: 2px;
}

.forum {
  margin-top: 2px;
}

.topic_menu {
  border: 1px solid #84AFD3;
  background:#E1F1FF;
  margin: 2px;
  padding: 10px;
  width: 98.15%;
}

.warning { 
  background: #fde181;
  border: 1px solid #fece26;
  padding: 10px;
  font-weight:bold;
  margin: 2px;
  width: 98.15%;
}

.post, .action-box, .user {
  border: 1px solid #17476e;
  margin: 2px;
}

.post tbody, .action-box tbody, .user tbody {
  background: #0e2e48;
}

.post tfoot, .action-box tfoot {
  background: #ffb200 url(tfoot-bg.jpg) repeat-x scroll 0;
}

.posts h1 {
  margin: 0;
  padding: 0;
}

.edit-note {
  color: #4F93CF;
  font-size: 9pt;
}

.quote {
  background: #A4D5FF none repeat scroll 0;
  border: 1px solid #84AFD3;
  padding: 5px;
  text-align: left;
  width: 90%;
}

.term {
  font-family: Monaco, "Courier New", monospace;
  font-weight: bold;
}

.ban-box {
  background: #DE0000 none repeat scroll 0;
  border: 10px solid red;
  color: white;
  font-size: 48pt;
}

.ban-box h1 {
  margin: 0;
  padding: 0;
}

.fieldWithErrors input, .fieldWithErrors textarea  {
  border-left: 3px solid #cd0000;
}

.errorExplanation {
  font-size: 10pt;
}

.info-box td .right {
  float: right;
  text-align: right;
}

/* inspired by http://css.maxdesign.com.au/listamatic/horizontal02.htm */
ul#admin-navlist, ul#moderator-navlist {
  margin: 2px 2px 2px 0;
  padding: 0;
  white-space: nowrap;
}

#admin-navlist li, #moderator-navlist li {
  display: inline;
  list-style-type: none;
}

#admin-navlist a, #moderator-navlist a { 
  padding: 3px 10px; 
}

#admin-navlist a:link, #admin-navlist a:visited, #moderator-navlist a:link, #moderator-navlist a:visited {
  color :#336699;
  background-color: #b8dcfc;
  text-decoration: none;
  border: 1px solid #336699;
  border-bottom: 0;
}

#admin-navlist a.selected, #moderator-navlist a.selected {
  border: 2px solid #336699;
  border-bottom: 0;
  font-weight: bold;
}

#admin-page, #moderator-page {
  background: #b8dcfc;
  padding: 5px;
  border: 1px solid #336699;
}

.list-table td {
  text-align: center; 
}