<%= link_to "Administration Section", :controller => "/admin" %> -> <%= link_to("Forums", admin_forums_path) %> -> Creating a new Forum
<% form_for [:admin, @forum] do |@f|%>
  <table cellspacing='0' cellpadding='2' width='100%' class='action-box'>
    <thead><tr><td colspan='2'><h2>Create a Forum</h2></td></tr></thead>
    <%= render :partial => "form" %>
    <tfoot>
      <tr><td colspan='2'><%= submit_tag "Create" %></td></tr>
    </tfoot>
  </table>
<% end %>