<table class='action-box' width='100%' cellspacing='2' cellpadding='0'>
  <thead>
    <tr>
      <td colspan='2'><%= t(:Editing_moderation_item_for, :thing => @moderation.thing) %></td>
    </tr>
  </thead>
  <tbody>
    <% form_for [:moderator, @moderation] do |f| %>
      <%= render :partial => "form" %>
    <% end %>
  </tbody>

<% form_for %>