body
  background: #232323
  font: 14pt "Myriad Pro"
  color: white

a
  color: #99ff00
  
  img
    border: 0px
    
.title-bar
  float: left
  clear: both
  
.menu-bar
  float: left
  margin-left: 30px
  margin-top: 15px
  color: #9a9a9a
  
#logged-in-as
  font-size: 90%

.search
  margin-top: 25px
  
.search
  float: right

.forums_container
  clear: both
  margin: 14px
  
.forums
  thead
    tr
      td
        background: transparent url(thead-bg.jpg) repeat-x
        color: black
        padding: 5px
        
  .title, .topics_count, .posts_count, .last_post
    padding: 10px
    border-bottom: 1px dotted #353535
    
  .title, .last_post
    background: #121212
    padding: 10px
    border-right: 1px solid #353535
  
  .topics_count, .posts_count
    background: #191919
  
  .posts_count
    border-right: 1px solid #353535

.forum

  thead
    tr
      td
        background: transparent url(thead-bg.jpg) repeat-x
        color: black
        padding: 5px
  tbody
    tr
      td
        padding: 5px
        
  .topics
  
    .odd
      background: #121212
    
    .even
      background: #191919

.topic

  .buttons
    float: left

  .actions
    float: right
    
.topic
  .posts
    .odd
      background: #171717
    .even
      background: #343434
    
.post
  -moz-border-radius: 7px
  clear: both
  margin-bottom: 10px
  border: 3px solid black
  
  .actions
    padding: 5px
    float: right
  
  .user_info
    padding: 5px
    padding-right: 20px
    
  .body
    padding-top: 5px
    text-align: left
  
  pre
    border: 1px solid black
    text-align: left
    width: 100px
  
  .details
    margin-bottom: 20px
    
#quick-reply 
  border: 5px solid black
  padding: 10px
  
  h3
    margin: 0px
    padding: 0px
    
.translation_missing
  background: red