<% inside_layout "application" do %>
  <ul id='admin-navlist'>
    <li><%= link_to "Index", admin_root_path,  :class => selected("index")  %></li>
    <% for section in @sections %>
      <li><%= link_to section.titleize, send("admin_#{section}_path"), :class => selected(section) %></li>
    <% end %>
    <li><%= link_to "IP Banning", ban_ip_admin_users_path, :class => selected("ip_banning") %>
  </ul>
  <div id='admin-page'>
    <%= yield %>
  </div>
<% end %>