<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>rBoard - Forums - Index </title>
    <link rel='stylesheet' href='/themes/blue/style.css'>
    <link rel='stylesheet' href='/stylesheets/install.css'>
    
  </head>
  <body id='install'>
    <div align='center'>
    <div class='content'>
      <div class='title-bar'>
        <a href="/forums" class="logo"><img src='/themes/blue/logo.jpg'alt='logo' /></a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>